@import '~assets/style/variables.scss';

@function desktop-vw($px: 0px) {   
    @return math.div(100vw * $px, 1920px);
}

@function tablet-vw($px: 0px) {   
    @return math.div(100vw * $px, 800px);
}

@function phone-vw($px: 0px) {   
    @return math.div(100vw * $px, 360px);
}






:root {
    --factor: 1920;

    @media ($tablet-portrait) {
        --factor: 800;
    }

    @media ($phone) {
        --factor: 360;
    }
}

@function vw($px: 0px) {   
    $num: math.div($px, ($px * 0 + 1)); // cast to number

    @return calc(#{$num} / var(--factor) * 100vw);
}