@import 'functions.scss';
@import 'fonts.scss';

* {
    font-family: Roboto, Arial, sans-serif;
}

h1, h2 {
    font-family: Roboto Slab;
    font-weight: bold;
}

h1 {
    font-size: desktop-vw(80px);
    line-height: 120%;

    @media($tablet-portrait) {
        font-size: tablet-vw(64px);
    }

    @media($phone) {
        font-size: phone-vw(28px);
    }
}

h2 {
    font-size: desktop-vw(64px);
    line-height: 120%;

    @media($tablet-portrait) {
        font-size: phone-vw(40px);
    }
}

p {
    font-size: desktop-vw(18px);
    line-height: 150%;

    @media($tablet-portrait) {
        font-size: tablet-vw(18px);
    }

    @media($phone) {
        font-size: phone-vw(18px);
    }
}

a, div, b, button {
    font-size: desktop-vw(18px);
    font-weight: normal;

    @media($tablet-portrait) {
        font-size: tablet-vw(18px);
    }

    @media($phone) {
        font-size: phone-vw(18px);
    }
}

.arabic {
    font-family: Almarai;
}