@import 'functions.scss';
@import 'fonts.scss';

* {
    font-family: DMsans, Arial, sans-serif;
}

h1 {
    font-size: desktop-vw(72px);
    line-height: 120%;

    @media($tablet-portrait) {
        font-size: phone-vw(36px);
    }
}

h2 {
    font-size: desktop-vw(64px);
    line-height: 120%;

    @media($tablet-portrait) {
        font-size: phone-vw(40px);
    }
}

p {
    font-size: desktop-vw(20px);
    line-height: 150%;

    @media($tablet-portrait) {
        font-size: tablet-vw(20px);
    }

    @media($phone) {
        font-size: phone-vw(20px);
    }
}

a, div, b, button {
    font-size: desktop-vw(20px);
    font-weight: normal;

    @media($tablet-portrait) {
        font-size: tablet-vw(20px);
    }

    @media($phone) {
        font-size: phone-vw(20px);
    }
}