/* Colors */
$primary: #457B9D;
$secondary: #49A078;
$tertiary: #1D3557;
$white: #F8F8F8;
$black: #000000;

$light: #A8DADC;
$gray: #4c514e;

$error: #D94545;

/* Media queries (horizontal) */
$desktop-1440 : 'max-width: 1440px';
$tablet-landscape : 'max-width: 1288px';
$tablet-portrait : 'max-width: 880px';
$phone : 'max-width: 564px';

/* Media queries (vertical) */
$narrow : 'max-height: 564px';
